<%- include('header', {view: ''}) %>
<body>
    
    <form method="GET" action="/">
        <div class="d-grid gap-2 col-6 mx-auto container">
            <button id="ocr" class="btn btn-success" onclick="onClick('ocr', '/ocr')" type="submit">Start Detecting Text</button>
            <button id="report" class="btn btn-info" onclick="onClick('report', '/report')" type="submit">Load last Report</button>
        </div>
    </form>

    <script>
        function onClick(btnId, endpoint) {
            const form = document.querySelector('form')
            form.action = endpoint
            $(`#${btnId}`).text('')
            $(`#${btnId}`).html(`<img src="spinner.gif" alt="" width="70px" height="45px">`)
            form.submit()
        }
    </script>
    
    <%- include('scripts') %>
</body>
</html>