<%- include('header', {view: 'table'}) %>
<body>
    <div class="table-responsive">
        <table id="table" class="display">
            <thead>
                <tr>
                    <th>Image URL</th>
                    <th>Found</th>
                </tr>
            </thead>
            <tbody>
                <% images.forEach(image => { %>
                    <tr>
                        <% image.forEach(value => { %>
                            <td><%= value %></td>
                        <% }); %>
                    </tr>    
                <% }); %>
            </tbody>
        </table>
    </div>  
</body>
<%- include('scripts') %>

<script>
    $(document).ready(() => $('#table').DataTable());
</script>
</html>